<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="sidenav">
    <a href="/user/home" class="brand">MyFinance</a>
    <a href="/user/home">Home</a>
    <a href="/user/profile">Profile</a>
    <a href="/user/transaction">Transactions</a>
    <a href="/user/monthly-report">Monthly Report</a>
    <a href="/user/yearly-report">Yearly Report</a>
    <a href="/logout" class="log-out">Log out</a>
</div>
<div class="main">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form p-l-55 p-r-55 p-t-178" th:action="@{/user/profile}" th:object="${userModel}" method="post">
                    <span class="login100-form-title">
                        Profile Update
                    </span>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" id="username" name="username" th:field="*{username}" style="font-weight: bold" readonly="readonly">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" id="firstName" name="firstName" th:field="*{firstName}" required="required" minlength="3" maxlength="15">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" id="lastName" name="lastName" th:field="*{lastName}" required="required" minlength="3" maxlength="15">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="email" id="email" name="email" th:field="*{email}" required="required" maxlength="30">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="fail-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="password" id="password" name="password" placeholder="Password" th:field="*{password}" required="required" minlength="3" maxlength="255">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="password" id="matchingPassword" name="matchingPassword" placeholder="Confirm password" th:field="*{matchingPassword}" required="required" minlength="3" maxlength="255">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="fail-message" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"></div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Update
                        </button>
                    </div>
                    <br/>
                    <div class="success-message" th:if="${successMessage}" th:text="${successMessage}"></div>
                    <br/>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>