<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="sidenav">
    <a href="/user/home" class="brand">MyFinance</a>
    <a href="/user/home">Home</a>
    <a href="/user/profile">Profile</a>
    <a href="#">Transactions</a>
    <a href="#">Monthly Report</a>
    <a href="#">Yearly Report</a>
    <a href="/logout" class="log-out">Log out</a>
</div>

<div class="main">
    <h2>Sidenav Example</h2>
    <p>This sidenav is always shown.</p>
</div>

</body>
</html>