<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div class="sidenav">
    <a href="/user/home" class="brand">MyFinance</a>
    <a href="/user/home">Home</a>
    <a href="/user/profile">Profile</a>
    <a href="/user/transaction">Transactions</a>
    <a href="#">Monthly Report</a>
    <a href="#">Yearly Report</a>
    <a href="/logout" class="log-out">Log out</a>
</div>

<div class="main">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form id="transactionForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178" th:action="@{/user/transaction}" th:object="${transactionModel}" method="post">
                    <span class="login100-form-title">
                        Transactions
                    </span>
                    <div class="balance" th:text="'Your balance: $' + ${balance}"></div>
                    <br/>
                    <br/>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" id="fromUser" name="fromUser" placeholder="Sender" th:field="*{fromUser}" required="required" minlength="3" maxlength="255">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="fail-message" th:if="${#fields.hasErrors('fromUser')}" th:errors="*{fromUser}"></div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" id="toUser" name="toUser" placeholder="Recipient" th:field="*{toUser}" required="required" minlength="3" maxlength="255">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="fail-message" th:if="${#fields.hasErrors('toUser')}" th:errors="*{toUser}"></div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="text" id="details" name="details" placeholder="Details" th:field="*{details}" required="required" maxlength="100">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="date" id="date" name="date" th:field="*{date}" required="required">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-16">
                        <input class="input100" type="number" id="amount" name="amount" placeholder="Amount" th:field="*{amount}" required="required">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="container">
                        <div class="dropdown">
                            <div class="select">
                                <span>Select Type</span>
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <input type="hidden" name="gender">
                            <ul class="dropdown-menu">
                                <li id="income">Income</li>
                                <li id="expense">Expense</li>
                            </ul>
                        </div>
                        <span class="msg"></span>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Submit
                        </button>
                    </div>
                    <br>
                    <br>
                    <div class="success-message" th:if="${successMessage}" th:text="${successMessage}"></div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>